body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images5.alphacoders.com/953/thumb-1920-953487.png");

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.glass {
  color: #fbfff7;
  background-image: linear-gradient(135deg, #54545441, #171717b1);
  border-radius: 20px;
  width: 85%;
  height: 85%;
  padding: 15px;
}

.guide-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.guide-container {
  width: 600px;
}

.glass2 {
  color: #7bdce9;
  background-image: linear-gradient(135deg, #45c9f141, #f0eff5b1);
  border-radius: 20px;
  width: 60%;
  height: 85%;
  padding: 5px;
  overflow: hidden;
}

body,
html {
  height: 100%;
}

.home-container > img {
  border-radius: 30px;
  max-width: 75%;
}

.home-container > p {
  max-width: 75%;
}

.newguideimg {
  width: 100px;
  padding-right: 10px;
}

.glass2 {
  flex-flow: column wrap;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  color: black;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
}

.guide-title {
  text-decoration: underline;
}

.Signup {
  padding-top: 20px;
}

.guide-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  align-items: center;
}

.guide-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-button {
  display: flex;
}

.guide-form-details {
  width: 500px;
  height: 150px;
}

.guide-form-standard {
  width: 150px;
}

.guide-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
